@import "tailwindcss";

@theme {
  --font-sans: "Nunito", sans-serif;
  --font-outfit: "Outfit", sans-serif;

  --color-dark: #0f1115;
  --color-primary: #34d399; /* Emerald 400 */
  --color-secondary: #94a3b8; /* Slate 400 */
}

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
  }
  body {
    @apply bg-dark text-slate-300 font-outfit antialiased;
  }
}

/* Custom Scrollbar for Marquee or general */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0f1115;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
